body{
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
    color: rgb(65, 93, 116);
    font-family: Michroma;
	margin: 0px;	
	padding: 0em 0em;
}

#header{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: black;
}

#header > li> a{
	text-decoration: none;
	color: black;
}


#header > li> a:hover{
	opacity: .50;
}

ul > li{
    display: inline;
    list-style-type: none;
    margin: 0em 3em;
}

hr{
	margin: 0em;
}

#projects{
	
	padding: 0em 2.5em;
	font-family: Michroma;
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	transform: translate(0px, 0px);
}

.project_header{
	padding: 1em 1em;
}

.icon{
	padding: 1em 1em;
}

.icon:hover{
	opacity: .5;
}


#active{
    text-decoration: underline;
}
/* Desktop - 1 */

#padding_div {
	width: 100%;
	overflow: scroll;
	background: #709270;
	

}

.wrapper {
	margin: 0;
	padding: 0;
}

.sticky {
	position: fixed;
	top: 0;
	width: 5%5;
	background: #f7f7f7;
	z-index: 1;
	margin: auto;
	padding: 1em;
}

.sticky + .wrapper {
	padding-top: 250px;
  }

#n6_0 {
	margin: auto;
	width: 60%;
	/* height: 100%; */
	/* overflow: scroll; */
	background: #e5e5e5;
}
 
#science {
	list-style-type: circle;
	display: list-item;
	margin: 0.5em 1.5em;
}

/* traffic 1 */
#n10_0 {
	background-image: url("./static/trees.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	top: 216px;
	height: 339px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Austin Kim */
#title {
	font-size: 48px;
	font-weight: 500;
	letter-spacing: 0px;
	color: rgb(65, 93, 116);
	vertical-align: middle;
	text-align: center;
	justify-content: flex-start;
	transform: translate(0px, 0px);
	line-height: 56.25px;
	height: 68px;
	left: 537px;
	top: 73px;
	padding-top: 1em;
}

/* Projects */
#n13_5 {
	font-family: Michroma;
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 0px;
	color: rgb(0, 0, 0);
	vertical-align: middle;
	justify-content: flex-start;
	width: 205px;
	transform: translate(0px, 0px);
	line-height: 42.1875px;
	height: 51px;
	left: 100px;
	top: 598px;
}

/* NIH square 2 */

.project_tile {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 263px;
	height: 175px;
	margin: 0.5em 1em;
	display: inline-flex;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* .project_tile:hover{
	opacity: .90;
} */

.project_overlay {
	font-family: 'Courier New', Courier, monospace;
	padding: 1em;
	display: inline;
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: black;
    z-index:9999;
	color:white;
	opacity: 0;
	font-size: 0.5em;
}

.project_overlay:hover{
	background-color: black;
	opacity: .5;
}

.blurb{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/* font-family: 'Courier New', Courier, monospace; */
	padding: 0em 3em 3em 3em;
	font-size: 16px;
}

#n13_6 {
	background-image: url("./static/ncbi.png");
}

/* UMN Square 3 */
#n13_8 {
	background-image: url("./static/foodtree.png");
}

/* Rectangle 4 */
#n13_9 {
	background: rgb(196, 196, 196);
	width: 341px;
	height: 222px;
	display: inline-flex;
}

/* Rectangle 5 */
#n16_3 {
	width: 1440px;
	height: 141px;
}

/* GitHub-Mark-32px 1 */
#n21_0 {
	background-image: url("./static/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-32px.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 4px;
	height: 4px;
	margin: 1em;
}

body::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
